{% extends 'base.html' %}
{% load static %} {% block content %}
<h1>Menu</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 300px; object-fit: cover;">
            {% else %}
                <img src="{% static 'images/products/promo1.jpg' %}" class="card-img-top" alt="Placeholder" style="height: 200px; object-fit: cover;">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p><strong>RM {{ product.price }}</strong></p>
                
                <form method="post" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'cart' %}" class="btn btn-success">View Cart</a>
{% endblock %}